.section-layout {
  --section-header-height: 72px;

  min-height: 100vh;
  background-color: var(--app-canvas-background-color);
  background-image: var(--app-canvas-background-image);
  background-size: var(--app-canvas-background-size);

  &--header-hidden {
    --section-header-height: 0px;
  }

  &--focus-mode {
    --section-header-height: 0px;
  }

  &__body {
    min-height: calc(100vh - var(--section-header-height));
    display: flex;
  }

  &__content {
    min-width: 0;
    flex: 1;
    padding: 20px;
  }
}

@media (max-width: 720px) {
  .section-layout__content {
    padding: 12px;
  }
}
