*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  font-family:
          "Pretendard Variable",
          Pretendard,
          -apple-system,
          BlinkMacSystemFont,
          system-ui,
          Roboto,
          "Helvetica Neue",
          "Segoe UI",
          "Noto Sans KR",
          "Malgun Gothic",
          sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  min-width: 320px;
  color: #333333;
}

button,
input,
textarea,
select {
  font: inherit;
}
