*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --app-canvas-background-color: #f8fbfd;
  --app-canvas-background-image: radial-gradient(circle, rgba(112, 143, 168, .2) 1px, transparent 1px);
  --app-canvas-background-size: 20px 20px;

  font-family:
          "Pretendard Variable",
          Pretendard,
          -apple-system,
          BlinkMacSystemFont,
          system-ui,
          Roboto,
          "Helvetica Neue",
          "Segoe UI",
          "Noto Sans KR",
          "Malgun Gothic",
          sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  scrollbar-gutter: stable;
}

body {
  min-width: 320px;
  background-color: var(--app-canvas-background-color);
  background-image: var(--app-canvas-background-image);
  background-size: var(--app-canvas-background-size);
  color: #333333;
}

button,
input,
textarea,
select {
  font: inherit;
}
